@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}

section {
    display: block;
    justify-content: center;

    margin: auto;
}

.cartao {
    background-color: rgb(24, 24, 24);

    max-width: 280px;
    width: 90%;
    height: 480px;
    border: 3px solid rgb(255, 255, 255);

    margin-top: 80px;

    padding: 10px;

    box-shadow: 3px 4px 6px rgba(255, 0, 0, 0.247);
}

p, h1, h2 {
    color: white;
}

div.video {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    padding-bottom: 79%;


    position: relative;
}
div.video > iframe {
    position: absolute;

    left: 4.9%;

    width: 90%;
    height: 100%;
}

.cartao .informacoes {
    background-color: rgba(0, 0, 0, 0.336);

    height: 75px;
    border-radius: 5px;

    margin-top: 8px;

    padding: 5px;
}

.cartao .informacoes > h1 {
    display: block;
    text-align: justify;
}

button#assistir {
    width: 100%;
    margin-top: 8px;
    padding: 5px;

    font-size: 1.1em;
}
#assistir > a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
#assistir > a:hover {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.cartao .descricao {
    /* background-color: rgba(255, 0, 0, 0.527); */

    margin-top: 8px;
    height: 130px;

    text-align: justify;

}

footer {
    margin-top: 30px;
    text-align: center;
    text-justify: justify;
}